#root {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* HEADER */

.Pai {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: darkolivegreen;
  border-radius: 15px;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.frontScore {
  background-color: rgb(159, 159, 159);
  border-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  width: 80vw;
  border-style: solid;
  border-radius: 10px;
  border-color: #888;
  margin-top: 1vw;
}

.player1Score {
  font-size: 300%;
  font-family: 'Courier New', Courier, monospace;
  border-style: solid;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-right: 1vw;
}

.gameName {
  display: block;
  padding: 10px;
  font-size: 150%;
  font-family:'Courier New', Courier, monospace;
}

/* ------------- HEADER ------------- */

/* ------------- Play.JSX ------------- */

.PlayFilho_play {
  display: flex;
  margin-bottom: 10vh;
}

.B1Filho {
  display: flex;
  padding: 10px;
  padding-bottom: 50px;
}

.a1 {
  display: flex;
  padding: 10px;
  background-color: rgb(0, 0, 255);
}

.B2Filho {
  display: flex;
  padding: 10px;
  padding-top: 50px;
}

.a2 {
  display: flex;
  padding: 10px;
  background-color: rgb(255, 130, 20);
}

.B3Filho {
  display: flex;
  padding: 10px;
  padding-bottom: 50px;
}

.a3 {
  display: flex;
  padding: 10px;
  background-color: rgb(120, 255, 47);
}

/* ------------- Play.JSX ------------- */

/* -------------- GAME.JSX -------------- */

.PlayFilho_game {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5%;
}

.playAgain_style {
  display: flex;
  padding-bottom: 13.12px;
  font-size: large;
}

.PlayFilho_game2 {
  display: flex;
  align-items: center;
}

.imgResultPlayer1 {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 20px;
}

.imgResultPlayer2 {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 20px;
}

.playerWin_style {
  padding: 20px;
}

/* ------------- GAME.JSX ------------ */

/* FOOTER.JSX */

.footer_1 {
  display: flex;
  justify-content: end;
  align-items: center;
  border-color: aliceblue;
  height: 10vh;
  width: 80vw;
  border-style: solid;
  border-radius: 10px;
  border-color: #888;
  margin-bottom: 1vw;
}

.button_footer {
  width: 8vw;
  color: black;
  background-color: rgb(159, 159, 159);
  border-color: aliceblue;
  border-style: solid;
  margin-right: 1vw;
}

/* FOOTER.JSX */

/* ---------------- MODAL.JSX ------------------ */

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 20vw;
  height: 20vh;
  background-color: white;
}

.modal_header {

}

.modalContent {

}

.closeButton {

}

.closeButton:hover {

}

/* ------------------ MODAL.JSX ------------------- */


/* MOBILE */
@media (max-height: 932px) and (max-width: 430px) {

  /* HEADER_MOBILE */

  #root {
    margin: 0;
    padding: 0;
  }

  body, html {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .Pai {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: darkolivegreen;
    border-radius: 15px;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .frontScore {
    background-color: rgb(159, 159, 159);
    border-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 80vw;
    border-style: solid;
    border-radius: 10px;
    border-color: #888;
    margin-top: 5vw;
  }

  .player1Score {
    font-size: 300%;
    font-family: 'Courier New', Courier, monospace;
    border-style: solid;
    height: 80px;
    width: 80px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  .gameName {
    display: block;
    padding: 10px;
    font-size: 4vw;
    font-family:'Courier New', Courier, monospace;
  }

/* ------------- HEADER_MOBILE ------------- */

/* Play.JSX MOBILE */

.PlayFilho_play {
  display: flex;
  padding: 30px;
  margin-top: 10vw;
}

.B1Filho {
  display: flex;
}

.a1 {
  display: flex;
  padding: 5px;
  background-color: rgb(0, 0, 255);
}

.B2Filho {
  display: flex;
}

.a2 {
  display: flex;
  padding: 5px;
  background-color: rgb(255, 130, 20);
}

.B3Filho {
  display: flex;
}

.a3 {
  display: flex;
  padding: 5px;
  background-color: rgb(120, 255, 47);
}

/* ------------- Play.JSX MOBILE ------------- */

/* GAME.JSX MOBILE */

.PlayFilho_game {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5vw;
}

.playAgain_style {
  display: flex;
  padding-bottom: 13.12px;
  font-size: large;
}

.PlayFilho_game2 {
  display: flex;
  align-items: center;
}

.imgResultPlayer1 {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 20px;
}

.imgResultPlayer2 {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 20px;
}

.playerWin_style {
  padding: 20px;
}

/* ------------- GAME.JSX MOBILE ------------ */

/* FOOTER.JSX MOBILE */

.footer_1 {
  border-color: aliceblue;
  justify-content: end;
  align-items: center;
  height: 30vw;
  width: 80vw;
  border-style: solid;
  border-radius: 10px;
  border-color: #888;
  margin-bottom: 8vw;
}

.button_footer {
  width: 20vw;
  height: 20vw;
  margin-right: 1vh;
  color: black;
  background-color: rgb(159, 159, 159);
  border-color: aliceblue;
  border-style: solid;
}

/* FOOTER.JSX MOBILE */

}
/* MOBILE */


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
